*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.doda{
   padding: 85px 180px;
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

.ota1{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;   
}
.bola{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #F7941F;
}

.ota2{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;  
    flex-direction: column;
}
.ota3{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;   
}
.ota4{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
    justify-content: space-between;  
}
.ota5{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
}
.ota6{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
    justify-content: right;
}
.ota7{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
    justify-content: center;
}
.ota8{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
    justify-content: space-between;
}
.ota9{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px; 
}
.ota10{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: end;
}
.ota11{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
}
.ota12{
    width: 240px;
    height: 240px;
    background: #995DB5;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: space-evenly; 
}
